{% extends "layout.html" %}
{% block body %}
  <div class="container">
    {% if com_flag %}
      <h2>Browse Challenges</h2>
    {% else %}
      <h2>Browse Community Challenges</h2>
    {% endif %}
  </div>

  <div class="bs-example">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Submitter</th>
                  <th>Completed</th>
              </tr>
          </thead>
          <tbody>
            <ul class=challenges>
            {% for challenge in challenges %}
            <tr>
              {# Both of the following links should link to browse/<challenge_name> #}
              <td><b><a href="browse/{{ challenge.name }}">{{ challenge.id }}</a></b></td>
              <td><a href="browse/{{ challenge.name }}">{{ challenge.name }}</a></td>
              <td>Stanley</td>
              <td>Nope</td>
            </tr>
            {% endfor %}
            </ul>
          </tbody>
      </table>
  </div>
{% endblock %}                             
