{% extends "layout.html" %}
{% block body %}
  <div class="container">
    {% if not categories %}
      <h2>Browse Community Challenges</h2>
    {% else %}
      <h2>Browse Challenges</h2>
      <br>
      <div class="checkbox">
        <h5>Filter By:</h5>
          <label><input type="checkbox" name="Completed">Completed</label>
        {% for category in categories %}
          <label><input type="checkbox" name="{{ category.name }}">{{ category.name }}</label>
        {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

  <div class="bs-example">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th width="5%">#</th>
                  <th width="50%">Title</th>
                  <th width="30%">Submitter</th>
                  <th width="15%">Completed</th>
              </tr>
          </thead>
          <tbody>
            <ul class=challenges>
            {% for challenge in challenges %}
            <tr>
              {# Both of the following links should link to browse/<challenge_name> #}
              <td><b><a href="{{ url_for('browse_specific_challenge', challenge_name=challenge.name) }}">{{ challenge.id }}</a></b></td>
              <td><a href="{{ url_for('browse_specific_challenge', challenge_name=challenge.name) }}">{{ challenge.name }}</a></td>
              <td>DVJUDGE</td>
              {% if challenge.completed %}
                <td>Yes</td>
              {% else %}
                <td>No</td>
              {% endif %}
            </tr>
            {% endfor %}
            </ul>
          </tbody>
      </table>
  </div>
<style>
label {
  margin-left: 1.5%;

}

</style>

{% endblock %}                             
