{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="jumbotron">
        <h1>{{ challenge_info.name }}</h1>
        {% if session.logged_in %} 
        <div class="dropdown" style="float: right;">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Playlist
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for playlist in playlists %}
              <li><a href="/playlists/{{ playlist.id }}?add={{ challenge_info.challenge_id }}">Add to "{{ playlist.name }}"</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} 
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#Desc">Description</a></li>
          <li><a data-toggle="tab" href="#IO">Input/Output</a></li>
        </ul>

        <div class="tab-content">
          <div id="Desc" class="tab-pane fade in active">
            <p>{{ challenge_info.description }}</p>
            <!--p>[{{ language }}][{{ code }}][{{ jsonlanguage }}]</p-->
          </div>
          <div id="IO" class="tab-pane fade">
            <p>{{ challenge_info.input_desc }}</p>
            <p>{{ challenge_info.output_desc }}</p>
            <p>{{ challenge_info.sample_tests }}</p>
          </div>
        </div>
    </div>
  {% if output %}
     <div class="container">
        <pre>{{ output }}</pre>
    </div>
  {% endif %}
  <div class="container">
    <!-- Example row of columns -->

<script>
function changeText(choice){
  editor.setValue( {{ data|safe }}[choice] );
  choice = choice.toLowerCase();

  if (choice.localeCompare('python') == 0) {
    editor.getSession().setMode("ace/mode/python");
  } else if (choice.localeCompare('java') == 0) {
    editor.getSession().setMode("ace/mode/java");
  } else {
    editor.getSession().setMode("ace/mode/c_cpp");
  }
}
</script>


    <form action="{{ url_for('submit_specific_challenge', challenge_id=challenge_info.challenge_id) }}" method="post" id="code">
      <select name = 'language' class="language_menu" onChange="changeText(this.value)">
        {% for item in challenge_info.languages %} 
          {% if item == language %}
            <option selected='selected'>{{ item }}</option>
          {% else %}
            <option>{{ item }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <br>
      <textarea name="editor"></textarea>
    </form>

    {% if code %}
    <div id="editor" style="height: 500px; width: 500px">{{ code }}</div>
    {% else %}
    <div id="editor" style="height: 500px; width: 500px">// enter code here </div>
    {% endif %}
    </div>
    <input type="submit" value="Submit" id="submit" class="btn btn-primary btn-lg" form="code">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var textarea = $('textarea[name="editor"]');
        textarea.hide();
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/xcode");

        if ("{{language|safe}}".localeCompare('Python') == 0) {
          editor.getSession().setMode("ace/mode/python");
        } else if ("{{language|safe}}".localeCompare('Java') == 0) {
          editor.getSession().setMode("ace/mode/java");
        } else {
          editor.getSession().setMode("ace/mode/c_cpp");
        }

        $('#submit').on('click', function() {
            textarea.val(editor.getSession().getValue());
        });
    </script>


  </div>
  <script type="text/javascript">
    $(document).ready(function() {
  $(".language_menu").select2({ width: '10%' });
});
  </script>

{% include "comments.html" %}
{% endblock %}
