{% extends "layout.html" %}
{% block body %}
	<div class="jumbotron">
      <div class="container">
        <h1>Community</h1>
        <p>DVJudge has a a vibrant community which is powered by users. Come here to discuss challenges and collaborate to find new an innovative solutions, create and upload your own challenges and receive feedback, participate in other peoples challenges to help get them ready for the rest of the community or provide feeback to the website itself.</p>
      </div>
    </div>
    <div class="container">
    	 <a href="community/upload" class="btn btn-primary btn-lg">Create Challenge</a>
    	 <a href="community/browse" class="btn btn-primary btn-lg">Review Challenges</a>

{% endblock %}