<!doctype html>
<head>
<title>Dvjudge</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">


<style type="text/css" media="screen">
    textarea {
        display: block;
        margin: auto;
        width: 600px;
        height: 5px;
    }
    #editor {
        display: block;
        border: 1px solid #888;
    }

</style>

</head>
<!-- Latest compiled and minified JavaScript -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">DVJudge</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/browse">Challenges<span class="sr-only">(current)</span></a></li>
        <!--li><a href="#">Competitions(empty)</a></li-->
        <li><a href="/community">Community</a></li>
        {% if session.logged_in %}
          <li><a href="/submissions">Submissions</a></li>
          <li><a href="/playlists">Playlists</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if not session.logged_in %}
        <button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Sign In/Register</button>

<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <!--li class=""><a href="#why" data-toggle="tab">Why?</a></li-->
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" action="{{ url_for('login_signup_form') }}" method=post>
              {% if challenge_info %}
              <input type="hidden" name="challenge_name" value="{{ challenge_info.name }}">
              {% elif forum_problem %}
              <input type="hidden" name="forum_problem" value="{{ forum_problem }}">
                {% if forum_question %}
                <input type="hidden" name="forum_question" value="{{ forum_question }}">
                {% endif %}
              {% endif %}
              <input type="hidden" name="page" value="{{ request.url_rule.endpoint }}">

            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Username/Email:</label>
              <div class="controls">
                <input required="" id="userid" name="username" type="text" class="form-control" placeholder="Username" class="input-medium" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="passwordinput" name="password" class="form-control" minlength="6" maxlength="20" type="password" placeholder="********" class="input-medium">
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" name="submit" class="btn btn-success" value="signin" type=submit>Sign In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>

        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" action="{{ url_for('login_signup_form') }}" method=post>
              {% if challenge_info %}
              <input type="hidden" name="challenge_name" value="{{ challenge_info.name }}">
              {% elif forum_problem %}
              <input type="hidden" name="forum_problem" value="{{ forum_problem }}">
                {% if forum_question %}
                  <input type="hidden" name="forum_question" value="{{ forum_question }}">
                {% endif %}
              {% endif %}
              <input type="hidden" name="page" value="{{ request.url_rule.endpoint }}">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input id="email" name="email" class="form-control" type="email" placeholder="example@example.com" class="input-large" required="">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Username:</label>
              <div class="controls">
                <input id="userid" name="username" class="form-control" type="text" placeholder="Username" class="input-large" required="">
              </div>
            </div>
            
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input id="password" name="password" class="form-control" type="password" minlength="6" maxlength="20" placeholder="********" class="input-large" required="">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="confirmpassword">Re-Enter Password:</label>
              <div class="controls">
                <input id="confirmpassword" class="form-control" name="confirmpassword" type="password" placeholder="********" class="input-large" required="" minlength="6" maxlength="20">
              </div>
            </div>
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="submit" class="btn btn-success" value="signup">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>



          {% else %}
           <li style="padding-top:10px"><img src="{{ url_for('static',filename='%s' % session.image) }}" class="avatar img-circle" alt="avatar" style="width:32px;height:32px;vertical-align:middle;">
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.user }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/submissions">Submissions</a></li>
            <li><a href="/playlists">My Playlists</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
           {% endif %}
        
    
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class=page>

  {% for message in get_flashed_messages(category_filter=['alert']) %}
  <div class="alert alert-info alert-dismissable"><a class="panel-close close" data-dismiss="alert">×</a>
    {{ message }}
  </div>
  {% endfor %}
  {% for error in get_flashed_messages(category_filter=['error']) %}
  <div class="alert alert-error error"><a class="close" data-dismiss="alert">×</a>
    <span class="sr-only">Error:</span>
    {{ error }}
  </div>
  {% endfor %}

  {% block body %}{% endblock %}

  
  <div class="container center">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="" align="center">
                          <a href="#"> <i class=" fa fa-facebook">   </i> </a>
                          <a href="#"> <i class="fa fa-twitter">   </i> </a>
                          <a href="#"> <i class="fa fa-google-plus">   </i> </a>
                    </div>
                </div>
            </div>
        </div>
        
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <div align="center"><p>Copyright © 2015 DVJudge</p></div>
            </footer>
        </div>
    </div>
    </footer>
  </div>
</div>
