{% extends "layout.html" %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.rowsorter.js') }}"></script>
</head>
<body> 
  <h1>{{ session.user }}'s Playlists</h1>
  <form action="{{ url_for('show_playlists') }}" method="POST" class=playlist>
    <select class="form-control" name="selected_name" style="width:300px" onchange="this.form.submit()">
      <ul class=playlists>
        {% for group in playlists %}
          {% if group.name  !=  selection.name  %}
            <option>{{ group.name }}</option>
          {% else %}
            <option selected>{{ group.name }}</option>
          {% endif %}
        {% endfor %}
      </ul>
    </select>
  </form>
  <br>


  <div class="bs-example" align="center">
  <table class="table table-striped" id="challenge-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Question</th>
        <th>Completed</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in challenge_list %}
        <tr>
          <td class="sorter">{{ loop.index }}</td>
          <td><b><a href="browse/{{ problem.name }}">{{ problem.name }}</a></b></td>
          <td>Nope</td>
          <td>Probably C</td>
        </tr>
      {% endfor %}
      <!--
      <tr>
        <td class="sorter"></td>
        <td>Row 1</td>
        <td>Record 1</td>
        <td>Record 1</td>
      </tr>
      <tr>
        <td class="sorter"></td>
        <td>Row 2</td>
        <td>Record 2</td>
        <td>Record 2</td>
      </tr>
      <tr>
        <td class="sorter"></td>
        <td>Row 3</td>
        <td>Record 3</td>
        <td>Record 3</td>
      </tr>-->
    </tbody>
  </table>
  </div>
</body>
<style>
  #challenge-table tbody tr {
    cursor:move;
  }
  #challenge-table tbody tr:hover {
    background:ghostwhite;
  }
  #challenge-table tbody tr:active {
    background:ghostwhite;
    opacity:0.6;
  }  
</style>
<script>
$("#challenge-table").rowSorter({
  handler         : null,
  tbody           : true,
  tableClass      : 'sorting-table',
  dragClass       : 'sorting-row',
  stickTopRows    : 0,
  stickBottomRows : 0,
  onDragStart     : null,
  onDrop          : null
});
</script>
</html>
{% endblock %} 