{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<head>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='rowsort.js') }}"></script>
</head>
<body>
	<h1>{{ session.user }}'s Playlists</h1>
  <form action="{{ url_for('test_playlist') }}" method="POST" class=playlist>
    <select class="form-control" name="selected_name" style="width:300px" onchange="this.form.submit()">
      <ul class=playlists>
        {% for group in playlists %}
          {% if group.name  !=  selection.name  %}
            <option>{{ group.name }}</option>
          {% else %}
            <option selected>{{ group.name }}</option>
          {% endif %}
        {% endfor %}
      </ul>
    </select>
  </form>


	<div class="bs-example" align="center">
	<table class="table table-striped" id="challenge_list">
		<thead>
			<tr>
				<th width="5%">#</th>
				<th width="40%">Question</th>
				<th width="30%">Contributor</th>
				<th width="10%">Completed</th>
				<th width="10%"></th>
			</tr>
		</thead> 
		<tbody> 
			{% for problem in challenge_list %}
        <tr>
          <td class="order">{{ loop.index }}</td>
          <td><b><a href="browse/{{ problem.name }}">{{ problem.name }}</a></b></td>
          <td>Dumpling</td>
          <td>N</td>
          <td><div align="center"><a class='btn btn-delete btn-sm btn-primary'>Delete</a></div></td>
        </tr>
      {% endfor %}
		</tbody>
	</table> 
	</div>
</body>
<style>
#challenge_list tr {
     cursor:move;
}    
#challenge_list tbody tr:hover {
    background:ghostwhite;
}
</style>

{% endblock %} 