{% extends "layout.html" %}
{% block body %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Sortable - Default functionality</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.rowsorter.js') }}"></script>
</head>
{% if not session.logged_in %}
  <h1>Go away.</h1>
{% else %}
<body> 
  <h1>{{ session.user }}'s Playlists</h1>
  <select class="form-control" style="width:300px">
    <!--
      {% for group in playlists %}
          <option value="{{ group.name }}">{{ group.name }}</option>
      {% endfor %}
    -->
    <option>Playlist 1</option>
    <option>Playlist 2</option>
  </select>
  <br>

  <div class="bs-example" align="center">
  <table class="table table-striped" id="challenge-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Question</th>
        <th>Completed</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      {% for problem in challenges %}
        <tr>
          <td class="sorter"></td>
          <td><b><a href="browse/{{ problem.name }}">{{ problem.name }}</a></b></td>
          <td>Nope</td>
          <td>Probably C</td>
        </tr>
      {% endfor %}

      <tr>
        <td class="sorter"></td>
        <td>Row 1</td>
        <td>Record 1</td>
        <td>Record 1</td>
      </tr>
      <tr>
        <td class="sorter"></td>
        <td>Row 2</td>
        <td>Record 2</td>
        <td>Record 2</td>
      </tr>
      <tr>
        <td class="sorter"></td>
        <td>Row 3</td>
        <td>Record 3</td>
        <td>Record 3</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
<style>
  #challenge-table tbody tr {
    cursor:move;
  }
  #challenge-table tbody tr:hover {
    background:ghostwhite;
  }
  #challenge-table tbody tr:active {
    background:ghostwhite;
    opacity:0.6;
  }  
</style>
<script>
$("#challenge-table").rowSorter({
  handler         : null,
  tbody           : true,
  tableClass      : 'sorting-table',
  dragClass       : 'sorting-row',
  stickTopRows    : 0,
  stickBottomRows : 0,
  onDragStart     : null,
  onDrop          : null
});
</script>
</html>
{% endif %}
{% endblock %} 