{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<head>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='rowsort.js') }}"></script>
</head>
<body>
	<h1>{{ session.user }}'s Playlists
  {% if playlists is not none %}
    </h1><br />
    <form action="{{ url_for('show_playlists') }}" method="POST" class=playlist>
      <select class="form-control" name="selected_name" style="width:300px" onchange="this.form.submit()">
        <ul class=playlists>
          {% for group in playlists %}
            {% if group.name  !=  selection.name  %}
              <option>{{ group.name }}</option>
            {% else %}
              <option selected>{{ group.name }}</option>
            {% endif %}
          {% endfor %}
        </ul>
      </select>
    </form>
    <form action="{{ url_for('show_playlists') }}" method="POST"
    onsubmit="return confirm('Are you sure you want to delete \'{{ selection.name }}\'?');">
      <input type="submit" id="del" class="btn btn-danger" value="Delete Playlist">
      <input type="hidden" name="delete_list" value="{{ selection.name }}"/>
    </form>

    <button type="button" class="btn btn-link" id="new_list">
    <a href="{{ url_for('show_playlist_form') }}"><font size="3.5">+ Create New Playlist...</font></a>
    </button>

    <form action="{{ url_for('show_playlists') }}" method="POST" id="order-form">
    	<div class="bs-example" align="center">
    	<table name="reorder_list" class="table table-striped" id="challenge_list">
    		<thead>
    			<tr>
    				<th width="5%">#</th>
    				<th width="40%">Question</th>
    				<th width="30%">Contributor</th>
    				<th width="10%">Completed</th>
    				<th width="10%"></th>
    			</tr>
    		</thead>
      		<tbody> 
      			{% for problem in challenge_list %}
              <tr>
                <!-- For testing purposes:
                {{ problem.name}}: {{ loop.index }} -->
                <td class="order">{{ loop.index }}</td>
                <td class="problem"><b><a href="browse/{{ problem.name }}">{{ problem.name }}</a></b></td>
                <td>Dumpling</td>
                <td>N</td>
                <td><div align="center"><a class='btn btn-delete btn-sm btn-primary'>Delete</a></div></td>
                <input type="hidden" name="{{ problem.name }}" id="{{ problem.name }}" value=""/>
              </tr>
            {% endfor %}
      		</tbody>
        </input>
    	</table> 
    	</div>
      <div align="right">
        <input type="hidden" name="selected_name" value="{{ selection.name }}"/>
        <input type="submit" name="reorder" id="sub" value="Submit Changes" class="btn btn-submit btn-default"/>
      </div>
    </form>
  {% else %}
    <button type="button" class="btn btn-link" id="new_list">
    <a href="{{ url_for('show_playlist_form') }}"><font size="3.5">+ Create New Playlist...</font></a>
    </button>
    <br /><br />
    <h4>You have no playlists.</h4>
    <h4>Create a new playlist then add challenges to your cart from the problem pages.</h4>
  {% endif %}
</body>
<style>
#challenge_list tbody tr {
     cursor:move;
}    
#challenge_list tbody tr:hover {
    background:ghostwhite;
}
#sub {
    margin-right:3%;
}
select {
    float:left;
}
#new_list {
    float:right;
    margin-right: 3%;
}
#del {
    margin-left:2em;
    float:left;
}

</style>
<script type="text/javascript">
// Fill form with new order
$('#order-form').submit(function() {
  new_list = reorder_form();
  for (var i = 0; i < new_list.length; i++) {
    var elem = document.getElementById(new_list[i]);
    elem.value = i.toString();
  }
});
</script>

{% endblock %} 