{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="jumbotron">
        <h1>{{ problem_info.name }}</h1>
        
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#Desc">Description</a></li>
          <li><a data-toggle="tab" href="#IO">Input/Output</a></li>
        </ul>

        <div class="tab-content">
          <div id="Desc" class="tab-pane fade in active">
            <p>{{ problem_info.description }}</p>
          </div>
          <div id="IO" class="tab-pane fade">
            <p>{{ problem_info.input_desc }}</p>
            <p>{{ problem_info.output_desc }}</p>
            <p>{{ problem_info.sample_tests }}</p>
          </div>
        </div>
    </div>
  {% if output %}
     <div class="container">
        <h1>{{ output }}</h1>
    </div>
  {% endif %}
  <div class="container">
    <!-- Example row of columns -->


<div id="editor" style="height: 500px; width: 500px">// enter code here</div>
<form action="{{ url_for('submit_specific_problem', problem_id=problem_info.problem_id) }}" method="post">
<input type="submit" value="Submit" id="submit" class="btn btn-primary btn-lg">
<br>
<textarea name="editor"><%= @text %></textarea>
</form>
<!--script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
</script-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var textarea = $('textarea[name="editor"]');
    textarea.hide();
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/c_cpp");
    $('#submit').on('click', function() {
        textarea.val(editor.getSession().getValue());
    });
</script>

<!--div class="container">
  <p>
 <button class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target=".bs-modal-sm">Submit</button>
</div-->

<script>
  var editor = ace.edit("editor");
  editor.getValue();
</script>


  </div>
{% endblock %}
