{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>{{ problem_info.name }}</h1>
        
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#Desc">Description</a></li>
          <li><a data-toggle="tab" href="#IO">Input/Output</a></li>
        </ul>

        <div class="tab-content">
          <div id="Desc" class="tab-pane fade in active">
            <p>{{ problem_info.description }}</p>
          </div>
          <div id="IO" class="tab-pane fade">
            <p>{{ problem_info.input_desc }}</p>
            <p>{{ problem_info.output_desc }}</p>
            <p>{{ problem_info.sample_tests }}</p>
          </div>
        </div>
      </div>
    </div>
    {% if output %}
     <div class="container">
        <h1>{{ output }}</h1>
    </div>
    {% endif %}
    <div class="container">
      <!-- Example row of columns -->
      <form action="{{ url_for('submit_specific_problem', problem_id=problem_info.problem_id) }}" method=post class=problem>
        <div class="form-group">
          {% if code %}
            <dd><textarea name=text rows=20 cols=60>{{ code }}</textarea>
          {% else %}  
            <dd><textarea name=text rows=20 cols=60></textarea>
          {% endif %}
          <p><input type=submit value=submit class="btn btn-default" role="button"></p>
        </div>
      </form>
      
  </div>
{% endblock %}
