{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('submit_specific_problem', problem_id=problem_info.problem_id) }}" method=post class=problem>
      <dl>
        <dt> {{ problem_info.name }}
          <p> {{ problem_info.description }}
        {% if code %}
          <dd><textarea name=text rows=20 cols=60>{{ code }}</textarea>
        {% else %} 
          <dd><textarea name=text rows=20 cols=60></textarea>
        {% endif %}
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
  {% if result %}
    <pre> {{ result }} </pre>
  {% endif %}
{% endblock %}
