{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row row-equ-height">
      <!-- left column -->
      <div class="col-equ-height col-md-3">
        <br>
        <br>
        <form enctype=multipart/form-data class="form-horizontal" action="{{ url_for('updateprofilepic') }}">
          <div class="text-center">
            <img src="" class="avatar img-circle" alt="avatar">
            <h6>Upload a different photo...</h6>
            
            <input type="file" class="form-control">
            <br>
            <input type="submit" value="upload">
          </div>
        </form>
      </div>
      
      <!-- edit form column -->
      <div class="col-equ-height col-md-9 personal-info">
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" action="{{ url_for('updateprofile') }}" method=post>
          <!--div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div-->

          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{ email }}" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{ username }}" name="username">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" placeholder="********" minlength="6" maxlength="20" name="pass1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" placeholder="********" minlength="6" maxlength="20" name="pass2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
</body>
{% endblock %} 