{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
  <h1>{{ username }}</h1>
  <hr>
  <div class="row row-equ-height">
    <!-- left column -->
    <div class="col-equ-height col-md-3">
      <br>
      <br>
        <div class="text-center">
           <img src="{{ url_for('static',filename='%s' % session.image) }}" class="avatar img-circle" alt="avatar" style="width:228px;height:228px;">
        </div>
    </div>
    
    <!-- edit form column -->
    {% if challenges %}
      <div class="col-equ-height col-md-9">
        <div class="bs-example">
          <h3>Completed Challenges</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Submitter</th>
              </tr>
            </thead>
            <tbody>
              <ul class=challenges>
              {% for challenge in challenges %}
                <tr>
                  {# Both of the following links should link to browse/<challenge_name> #}
                  <td><b><a href="{{ url_for('browse_specific_challenge', challenge_name=challenge.name) }}">{{ challenge.id }}</a></b></td>
                  <td><a href="{{ url_for('browse_specific_challenge', challenge_name=challenge.name) }}">{{ challenge.name }}</a></td>
                  <td><a href="/profile/{{ challenge.submitter_id }}">{{ challenge.submitter_id }}</a></td>
                </tr>
              {% endfor %}
              </ul>
            </tbody>
          </table>
        </div>
      </div>
    {% else %}
      <h3>{{ username }} has not completed any challenges.</h3>
    {% endif %}
  </div>
</body>
{% endblock %} 