{% extends "layout.html" %}
{% block body %}


{% if not session.logged_in %}
<div class="container">
    <div class="jumbotron">
            <h1>Learn to Solve</h1>
            <p>DVJudge is a platform for preparing technical coding interviews. Pick from an expanding library, code and submit your solution to see if you have solved it correctly. </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div align="center" class="col-xs-6">
        <br><br><br>
        <h3><a href="{{ url_for('browse') }}"><b>Browse</b></a> some of the current<br> problems in our database</h3>
    </div>
    <div align="center" class="col-xs-5">
        <h4>*Insert Sample Problem Here*</h4>
        <textarea rows="10" class="form-control"></textarea>
        <br>
        <div align="right"><button type="submit" class="btn btn-primary">Submit</button></div>
    </div>
</div>
{% else %}
<div class="jumbotron">
    <div class="container-fluid">
        <h1>Welcome {{ session.userid  }}!</h1>
        <br>
        <p><a href="profile" class="btn btn-primary">VIEW YOUR PROGRESS</a></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div align="center" class="col-xs-6">
            <h3><a href="{{ url_for('browse') }}">Browse Problems</a></h3>
        </div>
        <div align="center" class="col-xs-6">
            <h3><a href="{{ url_for('upload') }}">Upload Code</a></h3>
        </div>
    </div>
{% endif %}
<hr>

</div>
{% endblock %}
