{% extends "layout.html" %}
{% block body %}


{% if not session.logged_in %}
<div class="container">
    <div class="jumbotron">
            <h1>Learn to Solve</h1>
            <p>DVJudge is a platform for preparing technical coding interviews. Pick from an expanding library, code and submit your solution to see if you have solved it correctly. </p>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div align="center" class="col-xs-6">
        <h3><a href="{{ url_for('browse') }}"><b>Browse</b></a> some of the current<br> challenges in our database</h3>
        <br /><br />
    </div>
    <div align="center" class="col-xs-5">
        <h3><a href="{{ url_for('show_playlist_challenges', playlist_id=0) }}"><b>Practise</b></a> with some sample challenges without having to signup</h3>
        <br /><br />
    </div>
</div>
{% else %}
<div class="jumbotron">
    <div class="container-fluid">
        <h1>Welcome {{ session.user }}!</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div align="center" class="col-xs-6">
            <h3><a href="{{ url_for('browse') }}">Browse Challenges</a></h3>
        </div>
        <div align="center" class="col-xs-6">
            <h3><a href="{{ url_for('upload') }}">Upload Code</a></h3>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
