{% extends "layout.html" %}
{% block body %}
<div class="bs-example">
  <h1>Your submissions:</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Submit Time</th>
                <th>Question</th>
                <th>Result</th>
                <th>Run Time</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
          <ul class=challenges>
          {% for submission in submissions %}
          <tr>
            <td>{{ submission.timestamp }}</a></td>
            <td><a href="browse/{{ submission.challenge_name }}">{{ submission.challenge_name }}</a></td>
            <td><a href="submissions/{{ submission.id }}">{{ submission.status }}</td>
            <td>Not yet implemented</td>
            <td>{{ submission.language }}</td>
          </tr>
          {% endfor %}
          </ul>
        </tbody>
    </table>
</div>
{% endblock %}                             
