{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Upload Challenge</h1>
        
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#Desc">Upload Challenge</a></li>
          <li><a data-toggle="tab" href="#IO">Sample Upload</a></li>
        </ul>

        <div class="tab-content">
          <div id="Desc" class="tab-pane fade in active">
            <p>Use this form to upload a challenge to the dvJudge Community! Uploaded challenges can be accessed from the "Community Challenge" page</p>
          </div>
          <div id="IO" class="tab-pane fade">
            <p><b>Name: </b>Count to N^2</p>
            <p><b>Description: </b>Print the square numbers from 1 to N.</p>
            <p><b>Input Description: </b>A single integer.</p>
            <p><b>Output Description: </b>A single line containing the sequence of integers from 1 to N^2, i.e. 1 4 9 ... N^2</p>
            <p><b>Sample Tests: </b> Input: 4 Output: 1 4 9 16</p>
          </div>
        </div>

      </div>
    </div>

  {% if session.logged_in %}
  {% if flags.empty %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Please insert a valid challenge name.
    </div>
  {% elif flags.length %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Challenge names cannot exceed 70 characters.
    </div>
  {% elif flags.special %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Challenge names cannot contain special characters.
    </div>
  {% elif flags.conflict %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Challenge already exists with that name.
    </div>
  {% elif flags.inempty %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Input field must not be empty.
    </div>
  {% elif flags.outempty %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Output field must not be empty.
    </div>
  {% elif flags.success %}
    <div class="alert alert-info alert-dismissable">
      <a class="panel-close close" data-dismiss="alert">×</a> 
      Challenge successfully added.
    </div>
  {% endif %}

  <div class="container">
    <form action="{{ url_for('upload') }}" method=post class=upload-challenge, class="form-horizontal">
      <div class="form-group">
        <label for="challenge_name" class="col-sm-2 control-label">Challenge Name</label>
        <div class="col-sm-10">
          {% if challenge_name %}
            <input name="challenge_name" class="form-control" id="challenge_name" value="{{challenge_name}}">
          {% else %}
            <input name="challenge_name" class="form-control" id="challenge_name" placeholder="Challenge Name">
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          {% if description %}
            <textarea name="description" class="form-control" rows="3" id="description">{{ description }}</textarea>
          {% else %}
            <textarea name="description" class="form-control" rows="3" id="description" placeholder="Challenge Description"></textarea>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="input_" class="col-sm-2 control-label">Input
          <br>(<i>Delimit tests with </i>'|')
        </label>
        <div class="col-sm-10">
          {% if input_ %}
            <textarea name="input_" class="form-control" rows="3" id="input_">{{ input_ }}</textarea>
          {% else %}
            <textarea name="input_" class="form-control" rows="3" id="input_" placeholder="Input 1|Input 2|Input 3"></textarea>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="output_" class="col-sm-2 control-label">Output
          <br>(<i>Delimit tests with </i>'|')
        </label>
        <div class="col-sm-10">
          {% if output_ %}
            <textarea name="output_" class="form-control" rows="3" id="output_">{{ output_ }}</textarea>
          {% else %}
            <textarea name="output_" class="form-control" rows="3" id="output_"
          placeholder="Output 1|Output 2|Output 3"></textarea>
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="tnput_desc" class="col-sm-2 control-label">Input Description</label>
        <div class="col-sm-10">
          {% if input_desc %}
            <input name="input_desc" class="form-control" id="tnput_desc" value="{{ input_desc }}">
          {% else %}
            <input name="input_desc" class="form-control" id="tnput_desc" placeholder="Input Description">
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="output_desc" class="col-sm-2 control-label">Output Description</label>
        <div class="col-sm-10" style="margin-bottom:2%">
          {% if output_desc %}
            <input name="output_desc" class="form-control" id="output_desc" value="{{ output_desc }}">
          {% else %} 
            <input name="output_desc" class="form-control" id="output_desc" placeholder="Output Description">
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        <label for="categories" class="col-sm-2 control-label">Categories</label>
        <div align="center" id="categories">
        {% for category in categories %}
          <label style="margin-left: 2%; font-weight: normal;"><input type="checkbox" name="{{ category.name }}" value="{{ category.name }}"> {{ category.name }}</label>
          {% if loop.index % 3 == 0 %}
            <br>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <br />
      <label for="tests" class="col-sm-2 control-label">Sample Tests</label>
        <div class="col-sm-10">
          {% if tests %}
            <textarea name="tests" class="form-control" rows="3" id="tests">{{ tests }}</textarea>
          {% else %}
            <textarea name="tests" class="form-control" rows="3" id="tests" placeholder="Tests to be displayed on the challenge page"></textarea>
          {% endif %}
        </div>
      <br />
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-default">Submit</button>
      </div>

    </form>
  </div>
  {% else %}
    <div class="container">
      <p> You need to be <a href="#signup" data-toggle="modal" data-target=".bs-modal-sm">logged in</a> to create a challenge </p>
  {% endif %}
<style>
#categories {
  text-align: center;
  margin-left: 16%;
}
.col-sm-10 {
  margin-bottom: 1%;
}
</style>


{% endblock %}
